* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
}

body {
  color: #F2EFE9;
  background: rgb(21, 20, 20);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}
